@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

$white: #ecf0f3;
$black: #130f40ed;
$green: #64af76;
$light-color: #666;
$light-bg: #f7f7f7;
$border: 0.1em solid rgba(0, 0, 0, 0.2);
$box-shadow: 0 1em 1em rgba(0, 0, 0, 0.05);

@mixin flex(
  $flex-direction: row,
  $justify-content: center,
  $align-items: center
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  transition: 0.1s linear;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: $white;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.container {
  @include flex(column, flex-start);
  width: 100%;
}

.section-header {
  font-family: cursive;
  font-size: 3.5rem;
  color: $black;

  @media (max-width: 920px) {
    font-size: 3rem;
  }
}

.delete {
  font-size: 2rem;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  color: rgb(95, 56, 56);

  &:hover {
    color: $green;
  }
}

.button,
.blog__post__content__link,
.menu__items__button {
  @include flex();
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1.15px;
  text-transform: capitalize;
  border: none;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  outline: none;
  padding: 1em 1.5em;
  cursor: pointer;
  background-color: $green;
  color: $white;
  box-shadow: 2px 2px 3px $white, -2px -2px 3px #dadada;

  &:hover {
    background-color: $black;
    box-shadow: 6px 6px 10px #d1d9e6, -6px -6px 10px #f9f9f9;
    transform: scale(0.985);
    transition: 0.25s;
  }

  &:active,
  &:focus {
    box-shadow: 2px 2px 6px #d1d9e6, -2px -2px 6px #f9f9f9;
    transform: scale(0.97);
    transition: 0.25s;
  }
}

.blog__post__content__link {
  margin-top: auto;
  padding-top: auto;
}

.invisible {
  display: none;
}

.header {
  @include flex(row, space-between);
  position: sticky;
  top: 0;
  padding: 2.7em 3%;
  box-shadow: $box-shadow;
  background-color: $white;
  width: 100%;
  z-index: 30;

  // @media (max-width: 1060px) {
  //   padding-inline: 5rem;
  // }

  // @media (max-width: 700px) {
  //   padding-inline: 2rem;
  // }

  // @media (max-width: 370px) {
  //   flex-direction: column;
  //   gap: 2em;
  //   padding-block: 1.2em;
  // }

  .active {
    border-bottom: 2px solid $green;
  }

  &__logo {
    font-family: "satisfy";
    font-size: 3rem;
    font-weight: bolder;
    color: $black;
  }

  &__nav {
    margin-inline: 7em auto;

    // @media (max-width: 1060px) {
    //   position: absolute;
    //   top: 90px;
    //   left: 0;
    //   right: 0;
    //   margin-inline: 0;
    //   background-color: $white;
    //   border-block: $border;
    //   width: 100%;
    // }

    // @media (max-width: 370px) {
    //   top: 120px;
    // }

    &__list {
      @include flex(row, flex-start, flex-start);
      gap: 3em;

      // @media (max-width: 1060px) {
      //   padding-block: 3em;
      //   flex-direction: column;
      // }

      &__items {
        @include flex();
        font-size: 1.7rem;
        text-transform: capitalize;
        color: $light-color;
        min-height: 30px;
        cursor: pointer;

        // @media (max-width: 1060px) {
        //   font-size: 2rem;
        //   margin: 2em;
        // }

        &:hover {
          border-bottom: 2px solid $green;
          transition: 0.12s linear;
        }
      }
    }
  }

  .header__right {
    @include flex();
    gap: 2em;

    // @media (max-width: 370px) {
    //   width: 100%;
    //   gap: 3em;
    //   justify-content: space-between;
    // }

    // @media (max-width: 270px) {
    //   flex-wrap: wrap;
    // }

    // @media (max-width: 160px) {
    //   flex-wrap: nowrap;
    //   flex-direction: column;
    // }
  }

  &__btns {
    @include flex();
    position: relative;
    height: 3.2em;
    width: 3.2em;
    line-height: 3.2em;
    color: $black;
    border: none;
    border-radius: 0.5em;
    outline: none;
    cursor: pointer;
    box-shadow: inset 2px 2px 3px $white, inset -2px -2px 3px #dadada;
    background-color: $light-bg;

    &--current {
      background-color: $green;
    }

    & > * {
      font-size: 2rem;
    }

    &__items-no {
      @include flex();
      font-size: 1.4rem;
      position: absolute;
      bottom: 0;
      right: 0;
      line-height: 1;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: $green;
      color: $black;
      box-shadow: inset 2px 2px 3px $white, inset -2px -2px 3px #dadada;
    }

    // @media (max-width: 700px) {
    //   height: 3em;
    //   width: 3em;
    //   line-height: 3em;
    // }

    &:hover {
      color: $white;
      background-color: $green;
    }

    &--invisible-large {
      display: none;

      // @media (max-width: 1060px) {
      //   @include flex();
      // }

      // @media (max-width: 700px) {
      //   order: -1;
      // }
    }
  }

  &__search-form {
    @include flex(row, space-between, stretch);
    border-radius: 120px;
    background-color: $light-bg;
    min-width: 400px;
    overflow: hidden;
    box-shadow: inset 2px 2px 3px $white, inset -2px -2px 3px #dadada;
    margin-right: 3em;

    // @media (max-width: 1180px) {
    //   min-width: 300px;
    // }

    // @media (max-width: 1180px) {
    //   margin-right: 0;
    // }

    &__input {
      font-size: 1.6rem;
      flex-grow: 1;
      border: none;
      border-bottom: 2px solid rgba(102, 102, 102, 0.5);
      border-radius: 100px 0 0 100px;
      outline: none;
      padding-left: 1.5em;
      color: $light-color;
      box-shadow: inset 2px 2px 3px $white, inset -2px -2px 3px #dadada;
      background-color: $light-bg;
      padding-right: 0.6em;

      &::-webkit-search-cancel-button {
        display: none;
        -webkit-appearance: none;
      }
    }

    &__button {
      @include flex();
      height: 3.2em;
      width: 4.5em;
      line-height: 3.2em;
      color: $black;
      border: none;
      outline: none;
      cursor: pointer;
      box-shadow: inset 2px 2px 3px $white, inset -2px -2px 3px #dadada;
      background-color: $light-bg;
      border-bottom-right-radius: 50%;

      // @media (max-width: 700px) {
      //   height: 3em;
      //   width: 3em;
      //   line-height: 3em;
      //   border-radius: 0.5em;
      // }

      &:hover {
        color: $white;
        background-color: $green;
      }

      &__icon {
        font-size: 2rem;
        transform: rotate(-90deg);

        // @media (max-width: 700px) {
        //   transform: rotate(0);
        // }
      }
    }
  }

  &__search-form__mobile {
    @include flex(row, space-between, stretch);
    position: absolute;
    top: 100px;
    left: 3%;
    right: 3%;
    border-radius: 100px;
    background-color: $light-bg;
    overflow: hidden;
    box-shadow: inset 2px 2px 3px $white, inset -2px -2px 3px #dadada;

    // @media (max-width: 1060px) {
    //   left: 5rem;
    //   right: 5rem;
    // }

    // @media (max-width: 700px) {
    //   left: 2rem;
    //   right: 2rem;
    // }

    // @media (max-width: 370px) {
    //   top: 130px;
    // }

    &__input {
      flex-grow: 1;
      border: none;
      outline: none;
      background-color: $light-bg;
      font-size: 1.6rem;
      padding-left: 1.5em;
      color: $light-color;
      box-shadow: inset 2px 2px 3px $white, inset -2px -2px 3px #dadada;
    }

    &__button {
      @include flex();
      height: 3.2em;
      width: 4.5em;
      line-height: 4em;
      color: $black;
      border: none;
      outline: none;
      cursor: pointer;
      box-shadow: inset 2px 2px 3px $white, inset -2px -2px 3px #dadada;
      background-color: $light-bg;

      &:hover {
        color: $white;
        background-color: $green;
      }

      &__icon {
        font-size: 2rem;
        transform: rotate(-90deg);
      }
    }
  }
}

/* ###############
FORM
############### */
.form-wrapper {
  position: relative;
  width: 1000px;
  min-width: 1000px;
  min-height: 600px;
  height: 600px;
  padding: 25px;
  background-color: $white;
  box-shadow: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9;
  border-radius: 1.2em;
  overflow: hidden;
  color: $light-color;
  margin-block: 2em 3em;

  .remember-me {
    @include flex();
    gap: 0.5em;
    font-size: 1.6rem;
    letter-spacing: 0.25px;
    text-align: center;
    line-height: 1.6;
    margin-top: 1em;
  }

  button {
    width: 180px;
    font-size: 1.4rem;
    font-weight: 700;
    height: 50px;
    border-radius: 25px;
    margin-top: 2.6em;
    letter-spacing: 1.15px;
    background-color: $green;
    color: #f9f9f9;
    box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #f9f9f9;
    border: none;
    text-transform: uppercase;
    outline: none;

    &:hover {
      background-color: $black;
      box-shadow: 6px 6px 10px #d1d9e6, -6px -6px 10px #f9f9f9;
      transform: scale(0.985);
      transition: 0.25s;
    }

    &:active,
    &:focus {
      box-shadow: 2px 2px 6px #d1d9e6, -2px -2px 6px #f9f9f9;
      transform: scale(0.97);
      transition: 0.25s;
    }
  }

  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 600px;
    height: 100%;
    padding: 2.5em;
    background-color: #ecf0f3;
    transition: 1.25s;

    &--signup {
      z-index: 0;
      left: calc(100% - 600px);
    }

    &--login {
      z-index: 5;
      left: calc(100% - 600px);
    }

    &--is-txl {
      left: 0;
      transition: 1.25s;
      transform-origin: right;
    }

    &--is-z200 {
      z-index: 9;
      transition: 1.25s;
    }

    &__form {
      @include flex(column);
      width: 100%;
      height: 100%;

      &__title {
        font-size: 3.4rem;
        font-weight: 700;
        line-height: 3;
        color: $light-color;
      }

      &__icons {
        &__icon {
          font-size: 2.5rem;
          object-fit: contain;
          width: 30px;
          margin: 0 7px;
          opacity: 0.5;
          transition: 0.15s;
          color: $light-color;

          &:hover {
            opacity: 1;
            transition: 0.15s;
            cursor: pointer;
          }
        }
      }

      &__link {
        font-size: 1.4rem;
        letter-spacing: 0.25px;
        text-align: center;
        line-height: 1.6;
        margin-top: 2em;

        a {
          cursor: pointer;
          margin-left: 0.5em;
          color: $green;

          &:hover {
            color: $light-color;
            text-decoration: underline;
          }
        }
      }

      &__input {
        font-size: 1.5rem;
        width: 350px;
        height: 40px;
        margin: 6px 0;
        padding: 1em 1em 1em 25px;
        letter-spacing: 0.15px;
        border: none;
        outline: none;
        background-color: $light-bg;
        transition: 0.25s ease;
        border-radius: 0.6em;
        text-transform: capitalize;
        box-shadow: inset 2px 2px 3px $white, inset -2px -2px 3px #dadada;
        width: 70%;
        border-bottom: 2px solid rgba(102, 102, 102, 0.5);

        &:focus {
          box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 6px #f9f9f9;
        }
      }

      &__span {
        font-size: 1.4rem;
        letter-spacing: 0.25px;
        text-align: center;
        line-height: 1.6;
        margin-top: 30px;
        margin-bottom: 12px;
      }
    }
  }

  .switch {
    @include flex();
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 400px;
    padding: 50px;
    z-index: 10;
    transition: 1.25s;
    background-color: #ecf0f3;
    overflow: hidden;
    box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;

    &--is-gx {
      animation: is-gx 1.25s;
    }

    &--is-txr {
      left: calc(100% - 400px);
      transition: 1.25s;
      transform-origin: left;
    }

    @keyframes is-gx {
      0%,
      10%,
      100% {
        width: 400px;
      }
      30%,
      50% {
        width: 500px;
      }
    }

    &__circle {
      position: absolute;
      width: 500px;
      height: 500px;
      border-radius: 50%;
      background-color: #ecf0f3;
      box-shadow: inset 8px 8px 12px #d1d9e6, inset -8px -8px 12px #f9f9f9;
      bottom: -60%;
      left: -60%;
      transition: 1.25s;

      &--t {
        top: -30%;
        left: 60%;
        width: 300px;
        height: 300px;
      }

      &--is-txr {
        left: calc(100% - 400px);
        transition: 1.25s;
        transform-origin: left;
      }
    }

    &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      width: 400px;
      padding: 50px 55px;
      transition: 1.25s;

      &--is-hidden {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        transition: 1.25s;
      }

      &__title {
        font-size: 3.4rem;
        font-weight: 700;
        line-height: 3;
        color: $light-color;
      }

      &__description {
        font-size: 1.4rem;
        letter-spacing: 0.25px;
        text-align: center;
        line-height: 1.6;
      }
    }
  }
}

/* ###############
CART
############### */
.cart-wrapper {
  @include flex(column, flex-start, flex-start);
  gap: 2em;
  position: sticky;
  top: 10em;
  margin-block: 2em 3em;
  width: 90%;
  // min-width: 1000px;
  background-color: $white;
  border-radius: 1.5em;

  &--none {
    position: fixed;
    top: 0;
    height: 100vh;
  }

  &__none {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.6rem;
    color: #666;
    text-shadow: 7px 7px 7px #d1d9e6, -7px -7px 7px #f9f9f9;
  }

  .cart__body {
    border-top-right-radius: 1.5em;
    border-top-left-radius: 1.5em;
  }

  .cart__total {
    border-bottom-right-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
  }

  .cart__body,
  .cart__total {
    @include flex(column);
    border: 2px solid rgba(102, 102, 102, 0.196);
    background-color: $white;
    box-shadow: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9;
    color: $light-color;
    overflow: hidden;
    width: 100%;

    .section-header {
      font-size: 2.5rem;
      padding: 0.5em;
      text-align: center;
      width: 100%;
      border-bottom: 2px solid rgba(102, 102, 102, 0.196);
      background-color: $white;
    }

    &__items {
      @include flex(row, flex-start, stretch);
      flex-wrap: wrap;
      gap: 2em;
      margin-block: 1.5em;
      padding-inline: 2em;
      height: 100%;
      width: 100%;

      &__item {
        @include flex(row, flex-start);
        gap: 2em;
        flex: 1 1 0;
        position: relative;
        background-color: $white;
        // padding: 1.5em;
        // margin: 1em;
        border-radius: 6px;
        box-shadow: inset 2px 2px 3px #dadada, inset -2px -2px 3px #dadada;
        min-width: 500px;
        max-width: calc(50% - 1.5em);
        height: 100px;
        overflow: hidden;

        &__img-wrapper {
          width: 140px;
          // height: 100%;
          align-self: stretch;

          &__img {
            float: left;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &__details {
          @include flex(column, flex-start, flex-start);
          gap: 0.5em;

          &__name {
            font-size: 1.7rem;
            color: $black;
          }

          input {
            font-size: 1.5rem;
            margin-left: 0.4em;
            width: 5em;
            border: none;
            outline: none;
            padding: 0.2em 0.5em;
            color: $black;
            border-radius: 3px;
          }

          label,
          &__price {
            font-size: 1.5rem;
            font-weight: 400;
            text-transform: capitalize;
            color: $light-color;
          }

          &__price {
            &__value {
              font-size: 1.7rem;
              margin-left: 0.5em;
              color: $green;
            }
          }
        }
      }
    }

    &__body {
      @include flex(column);
      gap: 1.3em;
      margin-block: 1em 2em;
      width: 100%;
      text-transform: uppercase;

      &__amount {
        font-size: 1.7rem;
        font-weight: 400;
      }
    }
  }
}

/* ###############
SearchedItems
############### */
.searched-items {
  position: relative;
  width: 96%;
  background-color: $white;
  box-shadow: 8px 8px 8px #d1d9e6, -8px -8px 8px #f9f9f9;
  border-radius: 1.2em;
  overflow: hidden;
  color: $light-color;
  margin-block: 2em 3em;
  border: 2px solid rgba(102, 102, 102, 0.196);

  .delete {
    font-size: 3rem;
  }

  .section-header {
    font-size: 2.5rem;
    padding: 0.5em;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid rgba(102, 102, 102, 0.196);
    background-color: $white;
  }

  .none {
    font-size: 2.6rem;
    margin-block: 2.5em;
    text-align: center;
    color: #666;
    text-shadow: 7px 7px 7px #d1d9e6, -7px -7px 7px #f9f9f9;
  }

  .menu {
    @include flex(row, flex-start, flex-start);
    gap: 0em;
    flex-wrap: wrap;
    width: 100%;
    margin-block: 2em;
    overflow: hidden;
    background-color: $white;
    padding: 0;

    &__empty {
      font-size: 2.6rem;
      margin-inline: auto;
      color: #666;
      text-shadow: 7px 7px 7px #d1d9e6, -7px -7px 7px #f9f9f9;
    }

    &__items {
      @include flex(column, flex-start);
      padding-bottom: 4em;
      width: 22%;
      min-height: 460px;
      text-align: center;
      background-color: $white;
      border-radius: 1em;
      box-shadow: 6px 6px 6px #d1d9e6, -6px -6px 6px #f9f9f9;
      margin-inline: 1.5%;
      margin-bottom: 5em;
      overflow: hidden;

      &__img {
        float: left;
        width: 100%;
        height: 250px;
        object-fit: cover;
        box-shadow: 50px 50px 80px #d1d9e6, -50px -50px 80px #f9f9f9;
        margin-bottom: 1em;
      }

      &__name {
        font-size: 2rem;
        font-weight: bold;
        line-height: 1.4;
        margin-top: 1em;
        padding-inline: 1em;
        text-transform: capitalize;
      }

      &__price {
        padding: 1.75em;
        @include flex();
        gap: 1em;

        &__current {
          font-size: 1.6rem;
          color: $green;
        }

        &__previous {
          font-size: 1.4rem;
          text-decoration: line-through;
          color: $light-color;
        }
      }
    }
  }
}

/* ###############
HOME
############### */
.home {
  @include flex(row);
  width: 100%;
  padding: 0 5% 15em;

  // @media (max-width: 1060px) {
  //   padding-inline: 5rem;
  // }

  // @media (max-width: 700px) {
  //   padding-inline: 2rem;
  // }

  & > * {
    width: 50%;
  }

  &__text {
    span {
      font-size: 2rem;
      color: $green;
      text-transform: capitalize;
    }

    h3 {
      font-size: 4rem;
      color: $black;
      padding-top: 0.5em;
      text-transform: capitalize;
    }

    p {
      font-size: 1.4rem;
      color: $light-color;
      line-height: 2;
      padding-block: 1em;
    }

    button {
      font-size: 1.7rem;
      text-transform: none;
    }
  }

  &__img {
    background-blend-mode: darken;
    // height: 500px;
  }
}

/* ###############
MENU
############### */
.menu {
  @include flex(column);
  gap: 8em;
  width: 100%;
  padding: 0 3% 18em;

  // @media (max-width: 1060px) {
  //   padding-inline: 5rem;
  // }

  // @media (max-width: 700px) {
  //   padding-inline: 2rem;
  // }

  &__list {
    @include flex(row, flex-start, flex-start);
    flex-wrap: wrap;
    width: 100%;

    .menu__items {
      @include flex(column, flex-start);
      padding-bottom: 4em;
      // width: 23%;
      min-width: 140px;
      min-height: 460px;
      text-align: center;
      background-color: $white;
      border-radius: 1em;
      overflow: hidden;
      box-shadow: 6px 6px 6px #d1d9e6, -6px -6px 6px #f9f9f9;
      margin-inline: 1%;
      margin-bottom: 5em;

      &__img {
        float: left;
        width: 100%;
        height: 250px;
        object-fit: cover;
        box-shadow: 50px 50px 80px #d1d9e6, -50px -50px 80px #f9f9f9;
        margin-bottom: 1em;
      }

      &__name {
        font-size: 2rem;
        font-weight: bold;
        line-height: 1.4;
        margin-top: 1em;
        padding-inline: 1em;
        text-transform: capitalize;
      }

      &__price {
        padding: 1.75em;
        @include flex();
        gap: 1em;

        &__current {
          font-size: 1.6rem;
          color: $green;
        }

        &__previous {
          font-size: 1.4rem;
          text-decoration: line-through;
          color: $light-color;
        }
      }
    }
  }
}

/* ###############
ABOUT
############### */
.about {
  @include flex(column, flex-start);
  gap: 1em;
  width: 100%;
  padding: 0 3% 18em;

  // @media (max-width: 1060px) {
  //   padding-inline: 5rem;
  // }

  // @media (max-width: 700px) {
  //   padding-inline: 2rem;
  // }

  &__body {
    @include flex();
    gap: 3em;

    & > * {
      width: 50%;
    }

    &__content {
      @include flex(column, flex-start, flex-start);
      gap: 1em;

      &__heading {
        font-family: "satisfy";
        font-size: 3.5rem;
        margin-bottom: 0.6em;
        color: $black;
      }

      &__text {
        font-size: 1.9rem;
        line-height: 1.5;
        color: $light-color;
        margin-bottom: 0.8em;
      }

      .button {
        margin-bottom: 5em;
      }

      &__services {
        @include flex(row, space-between, flex-start);
        flex-wrap: wrap;

        &__details {
          @include flex();
          gap: 2em;
          background-color: $white;
          width: 48%;
          padding: 1.5em;
          margin-bottom: 2em;
          border-radius: 6px;
          box-shadow: inset 2px 2px 3px #dadada, inset -2px -2px 3px #dadada;

          &__text {
            font-size: 1.5rem;
            font-weight: bold;
          }
        }
      }
    }
  }
}

/* ###############
BLOG
############### */
.blog {
  @include flex(column, flex-start);
  gap: 5em;
  width: 100%;
  padding: 0 3% 18em;

  // @media (max-width: 1060px) {
  //   padding-inline: 5rem;
  // }

  // @media (max-width: 700px) {
  //   padding-inline: 2rem;
  // }

  &__posts {
    @include flex(row, center, stretch);
    flex-wrap: wrap;
    gap: 2em;

    .blog__post {
      background-color: $light-bg;
      border-radius: 10px;
      overflow: hidden;
      max-width: 300px;
      // padding: 1em;
      box-shadow: inset 2px 2px 3px $white, inset -2px -2px 3px #dadada;

      &__img-wrapper {
        position: relative;
        max-width: 300px;
        height: 300px;
        margin-bottom: 2em;
        overflow: hidden;

        &:hover {
          .blog__post__img-wrapper__img {
            transform: scale(1.2);
          }

          .blog__post__img-wrapper__date {
            left: 1.5em;
          }
        }

        &__img {
          float: left;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &__date {
          @include flex();
          z-index: 10;
          gap: 1em;
          position: absolute;
          top: 1em;
          left: -100%;
          border-radius: 0.5em;
          background-color: $white;
          color: $black;
          font-size: 1.5rem;
          padding: 0.5rem 1rem;
        }
      }

      &__content {
        @include flex(column, flex-start, flex-start);
        gap: 1.2em;
        padding: 0 1.4rem 1.8em;

        &__title {
          font-size: 2rem;
          text-transform: capitalize;
          color: $black;
        }

        &__text {
          font-size: 1.7rem;
          line-height: 1.5;
          color: $light-color;
          margin-bottom: 0.4rem;
        }

        &__link {
          text-decoration: none;
        }
      }
    }
  }
}

/* ###############
FOOTER
############### */
.footer {
  width: 100%;
  text-transform: capitalize;

  // @media (max-width: 1060px) {
  //   padding-inline: 5rem;
  // }

  // @media (max-width: 700px) {
  //   padding-inline: 2rem;
  // }

  .section-header {
    // @media (max-width: 920px) {
    //   font-size: 3rem;
    // }

    @media (max-width: 300px) {
      font-size: 2rem;
    }
  }

  &__newsletter {
    @include flex(column);
    gap: 4em;
    text-align: center;
    margin-bottom: 6em;

    &__form {
      @include flex(row, space-between, stretch);
      border-radius: 100px;
      width: 50%;
      // max-width: 700px;
      // margin: 2em auto 1em;
      background-color: $light-bg;
      min-width: 400px;
      overflow: hidden;
      box-shadow: inset 2px 2px 3px $white, inset -2px -2px 3px #dadada;
      // margin-right: 3em;

      @media (max-width: 1120px) {
        width: 60%;
      }

      @media (max-width: 820px) {
        width: 70%;
      }

      // @media (max-width: 1180px) {
      //   margin-right: 0;
      // }

      &__email {
        font-size: 1.6rem;
        flex-grow: 1;
        border: none;
        border-bottom: 2px solid rgba(102, 102, 102, 0.5);
        border-radius: 100px 0 0 100px;
        outline: none;
        padding-left: 1.5em;
        color: $light-color;
        box-shadow: inset 2px 2px 3px $white, inset -2px -2px 3px #dadada;
        background-color: $light-bg;

        &::placeholder {
          text-transform: capitalize;
        }
      }

      &__submit {
        @include flex();
        font-size: 1.6rem;
        height: 3.2em;
        color: $white;
        background-color: $green;
        padding-inline: 2.2em;
        text-transform: capitalize;
        border: none;
        outline: none;
        cursor: pointer;
        box-shadow: inset 2px 2px 3px $white, inset -2px -2px 3px #dadada;

        // @media (max-width: 700px) {
        //   height: 3em;
        //   width: 3em;
        //   line-height: 3em;
        //   border-radius: 0.5em;
        // }

        &:hover {
          background-color: $black;
        }

        &__icon {
          font-size: 2rem;
          transform: rotate(-90deg);

          // @media (max-width: 700px) {
          //   transform: rotate(0);
          // }
        }
      }
    }

    // &__form {
    //   @include flex();
    //   max-width: 700px;
    //   margin: 2em auto 1em;
    //   border-radius: 0.5em;
    //   overflow: hidden;

    //   &__email {
    //     font-size: 1.6rem;
    //     height: 100%;
    //     width: 100%;
    //     padding: 1em 1.2em;
    //     color: $black;
    //     text-transform: none;
    //   }

    //   &__submit {
    //     padding: 0 2rem;
    //     font-size: 1.6rem;
    //     color: $white;
    //     background-color: $green;
    //     cursor: pointer;

    //     &:hover {
    //       background-color: $black;
    //     }
    //   }
    // }
  }

  &__links {
    @include flex(row, space-evenly, stretch);

    &__link {
      @include flex(column, flex-start);
      width: 100%;

      & > * {
        // width: 100%;
      }

      &__header {
        font-size: 2.4rem;
        color: $black;
        padding-block: 0.4em;
      }

      &__link-wrapper {
        @include flex(column, flex-start, flex-start);

        .footer-links {
          @include flex(row);
        }

        &__link {
          display: block;
          font-size: 1.7rem;
          color: $light-color;
          padding-block: 0.4em;
          cursor: pointer;
          padding-left: 0.4em;
          min-width: 130px;

          &:hover {
            padding-left: 0.6em;
          }

          &:hover {
            color: $green;
          }
        }
      }
    }
  }

  &__social {
    @include flex(row);
    gap: 2em;
    padding-block: 6em;

    &__links {
      @include flex();
      height: 3.5em;
      width: 3.5em;
      line-height: 3.5em;
      color: $white;
      border: none;
      border-radius: 0.5em;
      outline: none;
      cursor: pointer;
      box-shadow: inset 2px 2px 3px $white, inset -2px -2px 3px #dadada;
      background-color: $green;

      // @media (max-width: 700px) {
      //   height: 3.2em;
      //   width: 3.2em;
      //   line-height: 3.2em;
      // }

      &:hover {
        background-color: $black;
      }

      & > * {
        font-size: 2rem;
      }
    }
  }
}
